<div>
    <div class="modal-header">
        <h4 class="modal-title"><strong>{{header}}</strong> <span class="pull-right pointer"
                                                                  ng-click="$dismiss()"><strong><i
                class="fa fa-remove"></i></strong></span></h4>
    </div>

    <div class="modal-body">
        {{body}}

        <div class="row">
            <button class="btn btn-primary m-t-md col-md-6" type="button" ng-click="$close()"><strong>OK</strong></button>
            <button class="btn btn-dark m-t-md col-md-6" type="button" ng-click="$dismiss()"><strong>Cancel</strong></button>
        </div>
    </div>
</div>